*,
::after,
::before {
    outline: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

a {
    color: #d84c73;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}

h4 {
    margin: 0 0 1rem;
    font-size: 2rem;
}

h6 {
    margin: 0 0 1rem;
    font-size: 1rem;
}

h6 > a {
    display: flex;
    align-items: center;
}

h6 > a::before {
    color: #999;
    content: '#';
    font-size: 1.5rem;
    margin-right: 0.25rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .left {
    display: flex;
    align-items: center;
}

header .header-link {
    display: inline-flex;
    align-items: center;
    color: #000;
    font-weight: 600;
    border: 1px solid #999999;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

header .header-link img {
    margin-right: 0.25rem;
}

main {
    margin-top: 2rem;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 2rem;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.container {
    width: 100%;
    margin: 3rem auto 6rem;
    padding: 0 1.5rem;
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: 992px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.brand {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .brand {
        font-size: 3rem;
    }
}

.brand span,
.brand-hover:hover span {
    display: inline-block;
    -webkit-animation-name: anim-text-flow-keys;
    animation-name: anim-text-flow-keys;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes anim-text-flow-keys {
    0% {
        color: #5c7ad6;
    }

    8.3333333333% {
        color: #5cafd6;
    }

    16.6666666667% {
        color: #d6d25c;
    }

    25% {
        color: #8fd65c;
    }

    33.3333333333% {
        color: #d6725c;
    }

    41.6666666667% {
        color: #b45cd6;
    }

    50% {
        color: #93d65c;
    }

    58.3333333333% {
        color: #5c62d6;
    }

    66.6666666667% {
        color: #d67a5c;
    }

    75% {
        color: #a3d65c;
    }

    83.3333333333% {
        color: #c8d65c;
    }

    91.6666666667% {
        color: #d6a55c;
    }

    100% {
        color: #8dd65c;
    }
}

@keyframes anim-text-flow-keys {
    0% {
        color: #5c7ad6;
    }

    8.3333333333% {
        color: #5cafd6;
    }

    16.6666666667% {
        color: #d6d25c;
    }

    25% {
        color: #8fd65c;
    }

    33.3333333333% {
        color: #d6725c;
    }

    41.6666666667% {
        color: #b45cd6;
    }

    50% {
        color: #93d65c;
    }

    58.3333333333% {
        color: #5c62d6;
    }

    66.6666666667% {
        color: #d67a5c;
    }

    75% {
        color: #a3d65c;
    }

    83.3333333333% {
        color: #c8d65c;
    }

    91.6666666667% {
        color: #d6a55c;
    }

    100% {
        color: #8dd65c;
    }
}

.brand span:nth-of-type(1),
.brand-hover:hover span:nth-of-type(1) {
    -webkit-animation-delay: -2.1s;
    animation-delay: -2.1s;
}

.brand span:nth-of-type(2),
.brand-hover:hover span:nth-of-type(2) {
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
}

.brand span:nth-of-type(3),
.brand-hover:hover span:nth-of-type(3) {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
}

.brand span:nth-of-type(4),
.brand-hover:hover span:nth-of-type(4) {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.brand span:nth-of-type(5),
.brand-hover:hover span:nth-of-type(5) {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.brand span:nth-of-type(6),
.brand-hover:hover span:nth-of-type(6) {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.brand span:nth-of-type(7),
.brand-hover:hover span:nth-of-type(7) {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.brand span:nth-of-type(8),
.brand-hover:hover span:nth-of-type(8) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.brand-title {
    margin: 0 0 0 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
    background-color: #455a64;
    color: #FFF;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.api-doc {
    padding-top: 2rem;
}

.api-doc .api-doc {
    padding-top: 0;
}

.api-doc-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.api-doc-content .api-doc-title {
    font-size: 1rem;
}

.api-doc-description {
    font-size: 0.75rem;
    margin: -1.5rem;
    background-color: #fbfbfb;
    padding: 1rem;
    border-bottom: 2px solid #f5f5f5;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.api-doc-content {
    padding: 1.5rem;
    background: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
    display: grid;
    grid-auto-flow: row;
    grid-gap: 3rem;
}

.api-doc-content .api-doc-content {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}

.api-doc-content.paned {
    grid-auto-flow: column;
    grid-gap: 2rem;
    grid-template-columns: 30% calc(70% - 2rem);
}

.api-doc-content.paned .api-doc-items {
    grid-template-columns: 1fr;
}

.api-doc-content.paned .api-doc-content {
    border-left: 3px solid #f0f0f0;
    display: block;
}

.api-doc-content.paned .api-doc-content h6 {
    padding: 1rem 0 0.25rem 0.5rem;
    margin: 0;
    text-transform: uppercase;
    color: #666;
    font-size: 0.85rem;
}

.api-doc-content.paned .api-doc-content .hljs {
    margin: 0;
    padding: 1rem;
}

.api-doc-content.paned .api-doc-title {
    background-color: #f0f0f0;
    margin-bottom: 0;
    padding: 1rem;
}

.api-doc-items {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
}

.api-doc-items .item {
    color: inherit;
    background-color: #fcfcfc;
    border: 1px solid #f0f0f0;
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: inline-grid;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 0.5rem;
    grid-auto-flow: column;
}

.api-doc-items .item .item-label {
    color: #ffffff;
    font-weight: 600;
    background-color: #ff5722;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.api-doc-items .item .item-label.bg-orange {
    background-color: #ff9800;
}

.api-doc-items .item .item-label.bg-orange-light {
    background-color: #ffc107;
}

.api-doc-items.small {
    grid-gap: 0.5rem;
}

.api-doc-items.small .item {
    padding: 0.35rem;
    font-size: 0.75rem;
}

.api-doc-items.small .item .item-label {
    padding: 0.15rem 0.35rem;
    font-size: 0.6rem;
}

.p-xs {
    padding: 0.25rem
}

.p-sm {
    padding: 0.5rem
}

.p-md {
    padding: 0.75rem
}

.p {
    padding: 1rem
}

.text-red {
    color: red;
}
